---
filenames:
  - /var/log/auth.log
labels:
  type: syslog

---
filenames:
  - /var/log/traefik/*.log
labels:
  type: traefik

---
listen_addr: 0.0.0.0:7422
appsec_config: crowdsecurity/virtual-patching
name: myAppSecComponent
source: appsec
labels:
  type: appsec
