---
{#
TODO: make better whitelist or wait for collection

Problem right now is WebDAV generating a lot of 403 errors and crowdsec false
positives that. Actually, thats opencloud's problem I think
#}
name: custom-whitelist/opencloud-whitelist
description: "Whitelist events related to Opencloud server"
whitelist:
  reason: "Opencloud Whitelist for WebDAV"
  expression:
    - evt.Parsed.request contains '/dav/spaces/'
