---
{#
TODO: make better whitelist or wait for collection

https://github.com/orgs/opencloud-eu/discussions/786

Problem right now is WebDAV generating a lot of 403 errors and crowdsec false
positives that. Actually, thats opencloud's problem I think

I also \might\ have .git files in my spaces which also trigger false positives

#}
name: custom-whitelist/opencloud-whitelist
description: "Whitelist events related to Opencloud server"
whitelist:
  reason: "Opencloud Whitelist for WebDAV"
  expression:
    - evt.Parsed.request contains '/dav/spaces/'
