---
- name: Get admin user info
  ansible.builtin.getent:
    database: passwd
    key: "{{ admin_username }}"

# - name: Remove CrowdSec Directories
#   ansible.builtin.file:
#     path: "{{ item }}"
#     state: absent
#   with_items:
#     - "{{ crowdsec_directory }}"

- name: Create CrowdSec Directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  with_items:
    - "{{ crowdsec_data_directory }}"
    - "{{ crowdsec_config_directory }}"

- name: Create acquisition config
  ansible.builtin.template:
    src: acquis.yaml.j2
    dest: "{{ crowdsec_config_directory }}/acquis.yaml"
    mode: "0644"

- name: Create profiles config
  ansible.builtin.template:
    src: profiles.yaml.j2
    dest: "{{ crowdsec_config_directory }}/profiles.yaml"
    mode: "0644"

- name: Ensure auth.log exists
  ansible.builtin.file:
    path: /var/log/auth.log
    state: touch
    mode: "0640"
  changed_when: false

- name: CrowdSec Docker Container
  community.docker.docker_container:
    name: crowdsec
    image: "{{ crowdsec_image }}"
    pull: true
    recreate: true
    restart_policy: unless-stopped
    memory: "{{ crowdsec_memory }}"
    networks:
      - name: "web"
    dns_servers:
      - "1.1.1.1"
      - "8.8.8.8"
    volumes:
      - "{{ crowdsec_data_directory }}:/var/lib/crowdsec/data"
      - "{{ crowdsec_config_directory }}:/etc/crowdsec"
      - "/var/log/auth.log:/var/log/auth.log:ro"
      - "{{ crowdsec_traefik_logs_directory }}:/var/log/traefik:ro"
    env:
      COLLECTIONS: "{{ crowdsec_collections | join(' ') }}"
      GID: "{{ ansible_facts.getent_passwd[admin_username][2] }}"
      UID: "{{ ansible_facts.getent_passwd[admin_username][1] }}"
      # ENROLL_KEY: "{{ crowdsec_enroll_key }}"
      # ENROLL_INSTANCE_NAME: "{{ crowdsec_instance_name }}"

- name: Wait for CrowdSec LAPI to be ready
  ansible.builtin.command: docker exec crowdsec cscli lapi status
  register: crowdsec_lapi_status
  until: crowdsec_lapi_status.rc == 0
  retries: 30
  delay: 2
  changed_when: false

- name: Create Traefik Bouncer
  ansible.builtin.shell: |
    docker exec crowdsec cscli bouncers delete traefik-bouncer || true
    docker exec crowdsec cscli bouncers add traefik-bouncer -o raw
  register: crowdsec_bouncer_key_output

- name: Write Bouncer Key to temporary file
  ansible.builtin.copy:
    content: "{{ crowdsec_bouncer_key_output.stdout }}"
    dest: "/tmp/crowdsec_traefik_bouncer.key"
    mode: "0600"

- name: Schedule CrowdSec hub update and upgrade
  ansible.builtin.cron:
    name: "CrowdSec hub update and upgrade"
    minute: "0"
    hour: "*/3"
    job: "docker exec crowdsec cscli hub update && docker exec crowdsec cscli hub upgrade"
