[global]
check_update=false

[passwords]
# Define the passwords list
# Syntax: host=password
# For Web UI, default is often used, or localhost
default={{ glances_password }}
localhost={{ glances_password }}
admin={{ glances_password }}
