---
- name: Delete Hemmelig directory
  ansible.builtin.file:
    path: "{{ hemmelig_data_directory }}"
    state: absent

- name: Create Hemmelig container
  community.docker.docker_container:
    name: hemmelig
    state: absent
