[Interface]
Address = 10.200.200.1/24
PrivateKey = {{ private_key }}
ListenPort = 51820
# maybe eth0 here as ansible interface
#PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE; ip6tables -A FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
#PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE; ip6tables -D FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
#SaveConfig = true

[Peer]
PublicKey = {{ public_key }}
AllowedIps = 10.200.200.2/32
#Endpoint = {{ ansible_default_ipv4.address }}:51820
