site
.vagrant
*.retry
*.log
.DS_Store
# inventories
.cache

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/

roles/geerlingguy.*
roles/robertdebock.*
roles/darkwizard242.*
roles/djx339.*
inventories/my-provision

secret
