site
.vagrant
*.retry
*.log
.DS_Store
# inventories and private files
.cache
*/private/

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/

/inventories/my-provision

secret

/makefiles/private.mk

/.ansible/roles
