[defaults]
forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts_cache
fact_caching_timeout = 3600
internal_poll_interval = 0.001

[ssh_connection]
transport = ssh
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o PreferredAuthentications=publickey,password -o ServerAliveInterval=30 -o ServerAliveCountMax=10
control_path_dir = ~/.ansible/cp
