---
- name: Watchtower Docker Container
  community.docker.docker_container:
    name: watchtower
    image: "{{ watchtower_image }}"
    pull: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart_policy: unless-stopped
    env:
      WATCHTOWER_HTTP_API_TOKEN: "{{ watchtower_http_api_token }}"
    command: "{{ watchtower_command }}"
    labels:
      traefik.enable: "{{ watchtower_available_externally }}"
      traefik.http.routers.watchtower.rule: "Host(`{{ watchtower_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.watchtower.loadbalancer.server.port: "8080"
      com.centurylinklabs.watchtower.enable: "true"

      homepage.group: "Infrastructure"
      homepage.name: "Watchtower"
      homepage.icon: "watchtower.svg"
      homepage.href: "https://{{ watchtower_subdomain }}.{{ server_hostname }}"
