---
- name: Get docker group id
  ansible.builtin.group:
    name: docker
  register: docker_group

- name: Netdata Docker Container
  community.docker.docker_container:
    name: netdata
    hostname: "{{ netdata_subdomain }}.{{ server_hostname }}"
    image: netdata/netdata:stable
    recreate: true
    pull: true
    volumes:
      - /:/host/root:ro,rslave
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /run/dbus:/run/dbus:ro
    env:
      PGID: "{{ docker_group.gid | string }}"
      DISABLE_TELEMETRY: "1"
      DO_NOT_TRACK: "1"
      NETDATA_DISABLE_CLOUD: "1"
      NETDATA_CLAIM_TOKEN: ""
      NETDATA_CLAIM_URL: ""
      NETDATA_CLAIM_ROOMS: ""
    capabilities:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opts:
      - apparmor:unconfined
    restart_policy: unless-stopped
    memory: "{{ netdata_memory }}"
    networks:
      - name: "web"
    labels:
      traefik.enable: "{{ netdata_available_externally }}"
      traefik.http.routers.netdata.rule: "Host(`{{ netdata_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.netdata.loadbalancer.server.port: "19999"
      traefik.http.routers.netdata.middlewares: "tinyauth@docker,secure-headers@file"

      homepage.group: "Monitoring"
      homepage.name: "Netdata"
      homepage.icon: "netdata.svg"
      homepage.href: "https://{{ netdata_subdomain }}.{{ server_hostname }}"
      homepage.widget.type: "netdata"
      homepage.widget.url: "http://netdata:19999"
