---
- name: Get docker group id
  ansible.builtin.group:
    name: docker
  register: docker_group

- name: Netdata Docker Container
  community.docker.docker_container:
    name: netdata
    hostname: "{{ netdata_subdomain }}.{{ server_hostname }}"
    image: netdata/netdata:stable
    recreate: true
    pull: true
    volumes:
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /run/dbus:/run/dbus:ro
    env:
      PGID: "{{ docker_group.gid | string }}"
    capabilities:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opts:
      - apparmor:unconfined
    restart_policy: unless-stopped
    memory: "{{ netdata_memory }}"
    # network_mode: host
    labels:
      traefik.enable: "{{ netdata_available_externally }}"
      traefik.http.routers.netdata.rule: "Host(`{{ netdata_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.netdata.loadbalancer.server.port: "19999"
      traefik.http.routers.netdata.middlewares: "auth@file,secure-headers@file"
