# Ansible managed: /etc/ssh/sshd_config.d/10-ansible.conf

Port {{ server_ssh_port }}
Protocol 2
# for faster sshing we do not need dns, but later it might be needed to be used with bastion or something
UseDNS no
GSSAPIAuthentication no

# Permit only admin_username and only via key
PermitEmptyPasswords no
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
AllowUsers {{ admin_username }}
UsePAM yes

AllowAgentForwarding no
X11Forwarding no

# Debian-based distributions only
# hide the Debian banner to prevent information disclosure
# (e.g., `SSH-2.0-OpenSSH_8.4p1 Debian-5+deb11u3`)
DebianBanner no
