---
- name: Start 3proxy Docker Container
  community.docker.docker_container:
    name: 3proxy
    image: "{{ proxy_image }}"
    recreate: true
    env:
      PROXY_LOGIN: "{{ proxy_user }}"
      PROXY_PASSWORD: "{{ proxy_user_password }}"
    ports:
      - "{{ proxy_http_port }}:3128/tcp"
    restart_policy: unless-stopped
    memory: "{{ proxy_memory }}"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
