---
- ansible.builtin.include_tasks: timezone_locales.yml
- ansible.builtin.include_tasks: sysctl.yml
- ansible.builtin.include_tasks: packages.yml
- ansible.builtin.include_tasks: maintenance.yml
- ansible.builtin.include_tasks: dumbfile.yml
- ansible.builtin.include_tasks: reboot.yml
