---
- name: Include hostname configuration
  ansible.builtin.include_tasks: hostname.yml

- name: Include timezone and locales tasks
  ansible.builtin.include_tasks: timezone_locales.yml

- name: Include sysctl configuration tasks
  ansible.builtin.include_tasks: sysctl.yml

- name: Include package installation tasks
  ansible.builtin.include_tasks: packages.yml

- name: Include maintenance tasks
  ansible.builtin.include_tasks: maintenance.yml

- name: Include dumbfile tasks
  ansible.builtin.include_tasks: dumbfile.yml

- name: Include reboot tasks
  ansible.builtin.include_tasks: reboot.yml
