{
  "server": "0.0.0.0",
  "server_port": "{{ shadowsocks_port }}",
  "password": "{{ shadowsocks_password }}",
  "timeout": 300,
  "method": "{{ shadowsocks_method }}",
  "mode": "tcp_and_udp",
  "plugin": "/usr/local/bin/v2ray-plugin",
  "plugin_opts": "server;host=cloudfront.com",
  "nameserver": "1.1.1.1",
  "fast_open": false
}
