server:
  port: 8080
  proxied: true

theme:
  background-color: 231 15 21
  primary-color: 265 89 79
  contrast-multiplier: 1.2
  positive-color: 135 94 66
  negative-color: 0 100 67
  disable-picker: true

pages:
{% for page in glance_pages %}
  - $include: pages/{{ page }}.yml
{% endfor %}
