server:
  port: 8080
  proxied: true

theme:
  background-color: 231 15 21
  primary-color: 265 89 79
  contrast-multiplier: 1.2
  positive-color: 135 94 66
  negative-color: 0 100 67

pages:
  - name: Home
    columns:
      - size: small
        widgets:
          - type: twitch-channels
            channels:
              - Ka6an4ik_
              - fnjke00
              - LenaGol0vach
              - SilverName
              - JoinTheSystemm
            collapse-after: 5

          - type: twitch-top-games
            exclude:
              - just-chatting
              - pools-hot-tubs-and-beaches
              - music
              - art
              - asmr

          - type: docker-containers
            format-container-names: true

      - size: full
        widgets:
          - type: rss
            title: Xiaomi Today
            feeds:
              - url: https://xiaomitoday.com/feed
                title: Xiaomi Today
            limit: 15
            collapse-after: 5

          - type: hacker-news
            limit: 15
            collapse-after: 5

          - type: reddit
            subreddit: LETFs
            style: vertical-list
            show-thumbnails: true
            limit: 10
            collapse-after: 5

          - type: reddit
            subreddit: wallstreetbets
            style: vertical-list
            show-thumbnails: true
            limit: 10
            collapse-after: 5

          - type: reddit
            subreddit: selfhosted
            style: vertical-list
            show-thumbnails: true
            limit: 10
            collapse-after: 5

      - size: small
        widgets:
          - type: weather
            location: Batumi, Georgia
            units: metric
            hour-format: 24h

          - type: releases
            title: GitHub Releases
            repositories:
              - insin/control-panel-for-twitter
            token: ${GITHUB_TOKEN}
            limit: 10
            collapse-after: 5

          - type: markets
            markets:
              - symbol: SPY
                name: SPY
              - symbol: BTC-USD
                name: BTC
              - symbol: QQQ
                name: QQQ
              - symbol: TQQQ
                name: TQQQ
              - symbol: INFQ
                name: INFQ

          - type: monitor
            title: Services
            cache: 1m
            sites:
              - title: OpenCloud
                url: https://cloud.{{ server_hostname }}
                icon: si:nextcloud
              - title: Gitea
                url: https://git.{{ server_hostname }}
                icon: si:gitea
              - title: Navidrome
                url: https://navidrome.{{ server_hostname }}
                icon: si:navidrome
              - title: Portainer
                url: https://portainer.{{ server_hostname }}
                icon: si:portainer
              - title: Docs
                url: https://docs.{{ server_hostname }}
                icon: si:materialformkdocs
              - title: ConvertX
                url: https://convert.{{ server_hostname }}
                icon: si:files
              - title: BentoPDF
                url: https://pdf.{{ server_hostname }}
                icon: si:adobeacrobatreader
              - title: TG AI Manager
                url: https://tg.{{ server_hostname }}
                icon: si:telegram

          - type: calendar
            first-day-of-week: monday
