---
- name: Apply bash settings for admin user
  ansible.builtin.template:
    src: "templates/.bashrc"
    dest: "/home/{{ admin_username }}/.bashrc"
    owner: "{{ admin_username }}"
    group: "{{ admin_username }}"
    mode: "0644"

- name: Apply bash settings for root user
  ansible.builtin.template:
    src: "templates/.bashrc"
    dest: "/root/.bashrc"
    owner: root
    group: root
    mode: "0644"
