---
- name: Create mayurifag github io Docker Container
  community.docker.docker_container:
    name: mayurifag_github_io
    image: mayurifag/mayurifag.github.io:latest
    pull: true
    recreate: true
    restart_policy: unless-stopped
    memory: "{{ mayurifag_github_io_memory }}"
    networks:
      - name: "web"
    labels:
      traefik.enable: "true"
      traefik.http.routers.mayurifag_github_io.rule: "Host(`{{ server_hostname }}`)"
      traefik.http.services.mayurifag_github_io.loadbalancer.server.port: "80"
      traefik.http.routers.mayurifag_github_io.middlewares: "secure-headers@file,tinyauth@docker"
      # traefik.http.routers.mayurifag_github_io.middlewares: "secure-headers@file"
      com.centurylinklabs.watchtower.enable: "true"

      homepage.group: "Static"
      homepage.name: "mayurifag.github.io"
      homepage.icon: "mdi-web-box"
      homepage.href: "https://{{ server_hostname }}"
