# VPS

This is VPS with hostname {{ inventory_hostname }}. Everything is deployed through my Ansible repository.

## Rules

Try to minimize doing not read-only operations - and suggest for me to do persistent changes in my repository.
