---
- name: Setup mus Docker Container
  community.docker.docker_container:
    name: mus
    image: "{{ mus_docker_image }}"
    pull: true
    recreate: true
    volumes:
      - "{{ mus_music_directory }}:/app_data/music:rw"
    restart_policy: unless-stopped
    # security_opts: ["apparmor:unconfined"]
    networks:
      - name: "web"
    memory: "{{ mus_memory }}"
    labels:
      traefik.enable: "{{ mus_available_externally }}"
      traefik.http.routers.mus.rule: "Host(`{{ mus_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.mus.loadbalancer.server.port: "8000"
      traefik.http.routers.mus.middlewares: "secure-headers@file,tinyauth@docker"
      com.centurylinklabs.watchtower.enable: "true"

      homepage.group: "Services"
      homepage.name: "mus"
      homepage.icon: "music.png"
      homepage.href: "https://{{ mus_subdomain }}.{{ server_hostname }}"
