---
# - name: Remove 3x-ui Directories
#   ansible.builtin.file:
#     path: "{{ item }}"
#     state: absent
#   with_items:
#     - "{{ threexui_data_directory }}/db"

- name: Create 3x-ui Directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  with_items:
    - "{{ threexui_data_directory }}/db"
    - "{{ threexui_data_directory }}/cert"

- name: 3x-ui Docker Container
  community.docker.docker_container:
    name: 3x-ui
    image: "{{ threexui_docker_image }}"
    pull: true
    recreate: true
    volumes:
      - "{{ threexui_data_directory }}/db:/etc/x-ui:rw"
      - "{{ threexui_data_directory }}/cert:/root/cert:rw"
    env:
      XRAY_VMESS_AEAD_FORCED: "{{ threexui_vmess_aead_forced }}"
      XUI_ENABLE_FAIL2BAN: "{{ threexui_enable_fail2ban }}"
    restart_policy: unless-stopped
    networks:
      - name: "web"
    labels:
      traefik.enable: "true"

      # Web Panel
      traefik.http.routers.threexui-panel.rule: "Host(`{{ threexui_panel_subdomain }}.{{ server_hostname }}`)"
      traefik.http.routers.threexui-panel.service: "threexui-panel"
      traefik.http.services.threexui-panel.loadbalancer.server.port: "2053"
      traefik.http.routers.threexui-panel.middlewares: "secure-headers@file"

      # Subscription
      traefik.http.routers.threexui-sub.rule: "Host(`{{ threexui_subscription_subdomain }}.{{ server_hostname }}`)"
      traefik.http.routers.threexui-sub.service: "threexui-subscription"
      traefik.http.services.threexui-subscription.loadbalancer.server.port: "2096"
      traefik.http.routers.threexui-sub.middlewares: "secure-headers@file"

      # Reality TCP
      traefik.tcp.routers.threexui-reality.rule: "HostSNI(`{{ threexui_reality_domain }}`)"
      traefik.tcp.routers.threexui-reality.tls.passthrough: "true"
      traefik.tcp.routers.threexui-reality.service: "threexui-reality"
      traefik.tcp.services.threexui-reality.loadbalancer.server.port: "443"

      homepage.group: "Networking"
      homepage.name: "3x-ui"
      homepage.description: "Also subscriptions on {{ threexui_subscription_subdomain }}.{{ server_hostname }}"
      homepage.icon: "v2ray.png"
      homepage.href: "https://{{ threexui_panel_subdomain }}.{{ server_hostname }}"
