set -g mouse on
set-option -g history-limit 50000

# Prefix
set -g prefix C-b

# Indices
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

# Splits
bind-key "|" split-window -h -c "#{pane_current_path}"
bind-key "\\" split-window -fh -c "#{pane_current_path}"
bind-key "-" split-window -v -c "#{pane_current_path}"
bind-key "_" split-window -fv -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"

# Plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'dracula/tmux'

# Theme
set -g @dracula-plugins "cpu-usage ram-usage time"
set -g @dracula-show-powerline true
set -g @dracula-show-flags true
set -g @dracula-refresh-rate 5
set -g @dracula-show-left-icon session
set -g @dracula-border-contrast true

# Persistence
set -g @continuum-restore 'on'

run '~/.tmux/plugins/tpm/tpm'
