{# set -g mouse on #}

# Indices
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

# Detach instead of killing session when the last window closes
set-option -g exit-empty off

# Splits
bind-key "|" split-window -h -c "#{pane_current_path}"
bind-key "\\" split-window -fh -c "#{pane_current_path}"
bind-key "-" split-window -v -c "#{pane_current_path}"
bind-key "_" split-window -fv -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"

# Plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'jaclu/tmux-menus'
{# set -g @plugin 'noscript/tmux-mighty-scroll' #}
set -g @plugin 'dracula/tmux'

# Theme
set -g @dracula-plugins "cpu-usage ram-usage"
{# set -g @dracula-theme "dark" #}

{# C-b Space = menu #}
set -g @menus_trigger 'Space'

run '~/.tmux/plugins/tpm/tpm'
