        - type: twitch-channels
          cache: 5m
          channels: {{ dynacat_twitch_channels | to_json }}
          collapse-after: 5

        - type: custom-api
          title: GitHub Notifications
          cache: 1m
          url: https://api.github.com/notifications?per_page=30
          headers:
            Authorization: Bearer ${GITHUB_NOTIFICATIONS_TOKEN}
            Accept: application/vnd.github+json
          template: |
            {% raw %}{{ $notifications := .JSON.Array "" }}
            {{ if eq (len $notifications) 0 }}
              <div class="color-subdue">No unread notifications</div>
            {{ else }}
            <ul class="list list-gap-14 collapsible-container" data-collapse-after="6">
            {{ range $notifications }}
              {{ $url := concat (.String "repository.html_url") "/actions" }}
              {{ if ne (.String "subject.url") "" }}
                {{
                  $notification := newRequest (.String "subject.url")
                    | withHeader "Authorization" "Bearer ${GITHUB_NOTIFICATIONS_TOKEN}"
                    | getResponse
                }}
                {{ if eq $notification.Response.StatusCode 200 }}
                  {{ $url = $notification.JSON.String "html_url" }}
                {{ else }}
                  {{ $url = (.String "subject.url") | replaceMatches "repos/" "" | replaceMatches "api[.]" "" | replaceAll "pulls" "pull" }}
                {{ end }}
              {{ end }}
              <li>
                <a href="{{ $url }}" class="size-title-dynamic {{ if .Bool "unread" }}color-primary-if-not-visited{{ else }}negative-color{{ end }}" target="_blank" rel="noreferrer">{{ .String "subject.title" }}</a>
                <ul class="list-horizontal-text flex-nowrap">
                  <li class="min-width-0" {{ .String "updated_at" | parseTime "rfc3339" | toRelativeTime }}></li>
                  <li class="min-width-0"><a target="_blank" href="{{ $url }}">{{ .String "repository.full_name" }}</a></li>
                </ul>
              </li>
            {{ end }}
            </ul>
            {{ end }}{% endraw %}

{% if dynacat_github_releases_repos %}
        - type: releases
          title: GitHub Releases
          cache: 1h
          repositories: {{ dynacat_github_releases_repos | to_json }}
          token: ${GITHUB_TOKEN}
          limit: 10
          collapse-after: 5
{% endif %}

        - type: server-stats
          title: Server
          update-interval: 30s
          servers:
            - type: local
              name: "{{ server_hostname }}"
              hide-mountpoints-by-default: true
              mountpoints:
                /host:
                  name: Root
                  hide: false
