        - type: search
          search-engine: https://www.google.com/search?q={QUERY}&gl=ru&hl=ru&pws=0
          autofocus: true

        - type: rss
          title: Meduza
          cache: 10m
          feeds:
            - url: https://meduza.io/rss/all
              title: Meduza
          limit: 30
          collapse-after: 5

{% if dynacat_reddit_subreddits %}
        - type: group
          widgets:
{% for sub in dynacat_reddit_subreddits %}
            - type: reddit
              subreddit: {{ sub }}
              cache: 30m
              style: vertical-list
              show-thumbnails: true
              limit: 30
              collapse-after: 10
{% endfor %}
{% endif %}
