        - type: search
          search-engine: https://www.google.com/search?q={QUERY}&gl=ru&hl=ru&pws=0
          autofocus: true

        - type: rss
          title: Meduza
          cache: 10m
          feeds:
            - url: https://meduza.io/rss/all
              title: Meduza
          limit: 30
          collapse-after: 5

{% if dynacat_reddit_subreddits %}
        - type: group
          widgets:
{% for sub in dynacat_reddit_subreddits %}
            - type: reddit
              subreddit: {{ sub }}
              cache: 30m
              style: vertical-list
              show-thumbnails: true
              limit: 30
              collapse-after: 10
{% endfor %}
{% endif %}

        - type: docker-containers
          title: Containers
          title-icon: si:docker
          update-interval: 1m
          hide-by-default: true
          format-container-names: true
          containers:
            dynacat:
              name: rss
              description: Dashboard
              icon: /assets/favicon.svg
              url: https://{{ dynacat_subdomain }}.{{ server_hostname }}
              hide: false
            traefik:
              name: Traefik
              description: Reverse proxy
              icon: di:traefik
              url: https://{{ traefik_subdomain }}.{{ server_hostname }}
              hide: false
            crowdsec:
              name: CrowdSec
              description: Security engine
              icon: di:crowdsec
              hide: false
            tinyauth:
              name: Tinyauth
              description: Auth gateway
              icon: di:tinyauth
              url: https://{{ tinyauth_subdomain }}.{{ server_hostname }}
              hide: false
            watchtower:
              name: Watchtower
              description: Container updates
              icon: di:watchtower
              url: https://{{ watchtower_subdomain }}.{{ server_hostname }}
              hide: false
            opencloud:
              name: OpenCloud
              description: Files
              icon: mdi:cloud-outline
              url: https://{{ opencloud_subdomain }}.{{ server_hostname }}
              hide: false
            gitea:
              name: Gitea
              description: Git hosting
              icon: si:gitea
              url: https://{{ gitea_subdomain }}.{{ server_hostname }}
              hide: false
            portainer:
              name: Portainer
              description: Docker UI
              icon: si:portainer
              url: https://{{ portainer_subdomain }}.{{ server_hostname }}
              hide: false
            navidrome:
              name: Navidrome
              description: Music server
              icon: di:navidrome
              url: https://{{ navidrome_subdomain }}.{{ server_hostname }}
              hide: false
            lldap:
              name: LLDAP
              description: Directory
              icon: di:lldap
              url: https://{{ lldap_subdomain }}.{{ server_hostname }}
              hide: false
            mkdocs:
              name: MkDocs
              description: Docs
              icon: di:mkdocs
              url: https://{{ mkdocs_subdomain }}.{{ server_hostname }}
              hide: false
            mus:
              name: mus
              description: Music tools
              icon: mdi:music
              url: https://{{ mus_subdomain }}.{{ server_hostname }}
              hide: false
            mayurifag_github_io:
              name: Website
              description: Landing page
              icon: di:github
              url: https://{{ server_hostname }}
              hide: false
            snapotter:
              name: SnapOtter
              description: Images
              icon: mdi:image-multiple
              url: https://{{ snapotter_subdomain }}.{{ server_hostname }}
              hide: false
            tg-ai-manager:
              name: TG AI Manager
              description: Telegram rules
              icon: di:telegram
              url: https://{{ tg_ai_manager_subdomain }}.{{ server_hostname }}
              hide: false
            mini-qr:
              name: Mini-QR
              description: QR codes
              icon: mdi:qrcode
              url: https://{{ qr_subdomain }}.{{ server_hostname }}
              hide: false
            bentopdf:
              name: BentoPDF
              description: PDF tools
              icon: di:bentopdf
              url: https://{{ bentopdf_subdomain }}.{{ server_hostname }}
              hide: false
            convertx:
              name: ConvertX
              description: File converter
              icon: mdi:file-swap-outline
              url: https://{{ convertx_subdomain }}.{{ server_hostname }}
              hide: false
            echoip:
              name: EchoIP
              description: IP echo
              icon: mdi:ip-network
              url: https://{{ echoip_subdomain }}.{{ server_hostname }}
              hide: false
            "3proxy":
              name: 3proxy
              description: HTTP proxy
              icon: mdi:server-network
              hide: false
            "3x-ui":
              name: 3x-ui
              description: Proxy panel
              icon: mdi:shield-lock
              url: https://{{ threexui_panel_subdomain }}.{{ server_hostname }}
              hide: false
