        - type: rss
          title: Meduza
          cache: 10m
          update-interval: 10m
          feeds:
            - url: https://meduza.io/rss/all
              title: Meduza
          limit: 30
          collapse-after: 5

{% if dynacat_reddit_subreddits %}
        - type: group
          widgets:
{% for sub in dynacat_reddit_subreddits %}
            - type: reddit
              subreddit: {{ sub }}
              sort-by: top
{% if not loop.first %}
              lazy-load: true
{% endif %}
              cache: 30m
              update-interval: 30m
              style: vertical-list
              show-thumbnails: true
              limit: 15
              collapse-after: 10
{% endfor %}
{% endif %}
