---
- name: Check if systemd-resolved config exists
  ansible.builtin.stat:
    path: /etc/systemd/resolved.conf
  register: resolved_conf

- name: Ensure /etc/systemd/resolved.conf.d directory exists
  ansible.builtin.file:
    path: /etc/systemd/resolved.conf.d
    state: directory
    mode: "0755"
  when: resolved_conf.stat.exists

- name: Configure systemd-resolved to disable stub listener
  ansible.builtin.copy:
    dest: /etc/systemd/resolved.conf.d/no-stub.conf
    content: |
      [Resolve]
      DNSStubListener=no
    mode: "0644"
  when: resolved_conf.stat.exists
  register: resolved_stub_config

- name: Restart systemd-resolved immediately
  ansible.builtin.service:
    name: systemd-resolved
    state: restarted
  # when: resolved_conf.stat.exists and resolved_stub_config.changed

- name: Delete Blocky directory
  ansible.builtin.file:
    path: "{{ blocky_data_directory }}"
    state: absent

- name: Create Blocky directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ blocky_data_directory }}/"

- name: Template Blocky config.yaml
  ansible.builtin.template:
    src: config.yaml.j2
    dest: "{{ blocky_data_directory }}/config.yaml"

- name: Blocky Docker Container
  community.docker.docker_container:
    name: blocky
    image: spx01/blocky
    pull: true
    recreate: true
    volumes:
      - "{{ blocky_data_directory }}/config.yaml:/app/config.yml"
    env:
      TZ: "{{ server_timezone }}"
    restart_policy: unless-stopped
    networks:
      - name: "web"
    ports:
      # - "53:53" # Do not expose 53 port, its open for DNS Amplification Attack
      - "853:853"
    labels:
      traefik.enable: "{{ blocky_available_externally }}"
      traefik.http.routers.blocky.rule: "Host(`{{ blocky_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.blocky.loadbalancer.server.port: "4000"
      # traefik.frontend.rule: "HostRegexp:{catchall:.*}"
      # traefik.frontend.priority: "1"

      homepage.group: "API"
      homepage.name: "Blocky"
      homepage.icon: "blocky.svg"
      homepage.href: "https://{{ blocky_subdomain }}.{{ server_hostname }}"
      homepage.description: "DNS-over-HTTPS with adblocking"
