- name: Home
  key-bind: "1"
  columns:
    - size: small
      widgets:
{% include 'home/weather_air.yml.j2' %}

{% include 'home/left.yml.j2' %}

    - size: full
      widgets:
{% include 'home/main.yml.j2' %}

    - size: small
      widgets:
        - type: markets
          hide-header: true
          cache: 5m
          update-interval: 5m
          markets:
{% for market in dynacat_markets %}
            - symbol: {{ market.symbol | to_json }}
              name: {{ market.name | to_json }}
{% endfor %}
{% include 'home/financials.yml.j2' %}
