- name: Home
  head-widgets:
    - type: markets
      hide-header: true
      cache: 5m
      update-interval: 5m
      markets:
        - symbol: ES=F
          name: S&P 500
        - symbol: BTC-USD
          name: BTC
        - symbol: TQQQ
          name: TQQQ
        - symbol: INFQ
          name: INFQ
        - symbol: GLD
          name: Gold
  columns:
    - size: small
      widgets:
{% include 'home/left.yml.j2' %}

    - size: full
      widgets:
{% include 'home/main.yml.j2' %}

    - size: small
      widgets:
{% include 'home/weather_air.yml.j2' %}
{% include 'home/financials.yml.j2' %}
