---
- name: Pause for a few seconds to allow CouchDB to initialize
  ansible.builtin.pause:
    seconds: 5

- name: Create required CouchDB databases
  ansible.builtin.command: >
    docker exec obsidian-livesync curl --fail -X PUT
    http://{{ obsidian_livesync_couchdb_user }}:{{ obsidian_livesync_couchdb_password }}@localhost:5984/{{ item }}
  register: create_db_result
  changed_when: "create_db_result.rc == 0 and 'already exists' not in create_db_result.stdout"
  retries: 15
  delay: 5
  until: create_db_result.rc == 0 or (create_db_result.rc == 22 and "already exists" in create_db_result.stdout)
  loop:
    - "_users"
    - "_replicator"
    - "{{ obsidian_livesync_couchdb_database }}"