<?php
$config['app']['disable_sound_notification'] = true;
$config['app']['email']['dont_send_pass'] = true;
date_default_timezone_set("{{ server_timezone }}");
$config['app']['logging']['skip_provide_download'] = true;
$config['app']['metadata']['indexing']['web']['max_files'] = 50;
$config['system']['db']['utf8_names'] = true;
