{% if enable_tls == true %}
[http.middlewares.my-headers.headers]
sslRedirect = true
stsSeconds = 31536000
stsIncludeSubdomains = true
stsPreload = true
forceSTSHeader = true
contentTypeNosniff = true
browserXssFilter = true

[tls.options.default]
minVersion = "VersionTLS12"
sniStrict = true
cipherSuites = [
  "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
  "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305",
  "TLS_AES_256_GCM_SHA384",
  "TLS_CHACHA20_POLY1305_SHA256"
]
curvePreferences = [ "CurveP521", "CurveP384" ]
{% else %}
[http.middlewares.my-headers.headers]
  [http.middlewares.my-headers.headers.customResponseHeaders]
  X-Custom-Response-Header = "fuck"
{% endif %}
