[http.middlewares.secure-headers.headers]
stsSeconds = 31536000
stsIncludeSubdomains = true
stsPreload = true
forceSTSHeader = true
contentTypeNosniff = true
browserXssFilter = true
referrerPolicy = "no-referrer"
customResponseHeaders.Server = ""
customResponseHeaders.X-Powered-By = ""

[tls.options.default]
minVersion = "VersionTLS13"
sniStrict = true
