[http.routers.traefik-dashboard]
  rule = "Host(`{{ traefik_subdomain }}.{{ server_hostname }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
  service = "api@internal"
  middlewares = "auth@file,my-headers@file"
