---
##
## User settings
##
admin_username: change_this
admin_userpassword: change_this
admin_email: change_this@gmail.com

root_userpassword: change_this

# change this
admin_authorized_keys: ""

server_timezone: Etc/UTC
server_hostname: mayurifag.local
swap_file_size_mb: "1024"
swap_swappiness: "15"

traefik_dns_provider: cloudflare
traefik_environment_variables:
  CF_DNS_API_TOKEN: "change_this"
# requests a wildcard certificate for your domain, so there should be no reason to have to use the staging
# letsencrypt acme server. If you do want to flip between staging/production, you might need to stop Traefik and clear
# the "{{ docker_home }}/traefik" after changing this setting.
traefik_acme_server: "https://acme-staging-v02.api.letsencrypt.org/directory" # staging
# traefik_acme_server: "https://acme-v02.api.letsencrypt.org/directory" # production

###
### General
###
ansible_python_interpreter: /usr/bin/python3

docker_home: /home/{{ admin_username }}/docker_data
files_home: /home/{{ admin_username }}/Files

##
## Galaxy extensions
##
docker_users:
  - "{{ admin_username }}"

docker_daemon_options:
  log-driver: "local"
  log-opts:
    max-size: "100m"

##################################

enable_tls: true
bootstrap_enabled: true
swap_enabled: true
mayurifag_github_io_enabled: true
lazydocker_enabled: true
docker_enabled: true
crowdsec_enabled: true

proxy_enabled: true
proxy_user: change_this
proxy_user_password: change_this
proxy_socks_port: "1080"
proxy_http_port: "1081"

netdata_enabled: true
netdata_subdomain: "netdata"

blocky_enabled: true

mus_enabled: true
mus_subdomain: "mus"
mus_music_directory: "/home/{{ admin_username }}/music_folder/"
mus_auth_route: change_this

vaultwarden_enabled: true
vaultwarden_subdomain: "pw"

portainer_enabled: true
portainer_subdomain: "portainer"

traefik_enabled: true
traefik_subdomain: "traefik"

hemmelig_enabled: true
hemmelig_subdomain: "secret"

nextcloud_enabled: true
nextcloud_subdomain: "nextcloud"

gitea_enabled: true
gitea_subdomain: "git"
gitea_admin_password: "change_this"

watchtower_enabled: true
watchtower_subdomain: "watchtower"
watchtower_http_api_token: change_this

obsidian_livesync_enabled: true
obsidian_livesync_subdomain: "couchdbobsidian"
obsidian_livesync_couchdb_user: "obsidian_user"
obsidian_livesync_couchdb_password: "change_this"
obsidian_livesync_couchdb_database: "obsidian"

tinyauth_enabled: true
tinyauth_subdomain: "auth"
# Default user: test / test
tinyauth_users: "test:$$2a$$10$$EuSvtUG9rKOOiBdb8aHQUOyBvAseOhLQxnyIgYqK8td/ileY4iH9u"
