server:
  port: 8080
  proxied: true
  assets-path: /app/assets

document:
  head: |
    <style>.widget:has([data-hide-widget]) { display: none !important; }</style>
    <script src="/assets/dynacat-custom-widgets.js" defer></script>

branding:
  hide-footer: true
  hide-logo: true
  logo-url: /assets/favicon.svg
  favicon-url: /assets/favicon.svg
  app-name: rss
  app-icon-url: /assets/favicon.svg
  app-background-color: "#292a3d"
  show-desktop-navigation-on-hover: true
  center-desktop-navigation: true

theme:
  background-color: 232 18 20
  primary-color: 265 85 77
  contrast-multiplier: 1.25
  positive-color: 135 85 62
  negative-color: 0 92 65
  disable-picker: true

pages:
{% for page in dynacat_pages %}
  - $include: pages/{{ page }}.yml
{% endfor %}
