{% if disable_tls is not defined %}
defaultEntryPoints = ["http", "https"]
{% endif %}
[entryPoints]
  [entryPoints.web]
    address = ":80"
    {% if disable_tls is not defined %}
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"
    [entryPoints.websecure]
      address = ":443"
      [entryPoints.websecure.http.tls]
        certResolver = "letsencrypt"
        [entryPoints.websecure.http.tls.domains]
          main = "{{ server_hostname }}"
          sans = [
            "*.{{ server_hostname }}"
          ]
        [entryPoints.websecure.http.tls.options.default]
          minVersion = "VersionTLS12"
          sniStrict = true
          {#
            "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256",
            "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
            "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305",
          #}
          cipherSuites = [
            "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
            "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
            "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
            "TLS_AES_128_GCM_SHA256",
            "TLS_AES_256_GCM_SHA384",
            "TLS_CHACHA20_POLY1305_SHA256"
          ]

          curvePreferences = [ "CurveP521", "CurveP384" ]
    {% endif %}
[providers]
  [providers.docker]
    exposedbydefault = false
  [providers.file]
    directory = "/etc/traefik/dynamic_configs"
    watch = true
[log]
  level = "{{ traefik_log_level }}"
[global]
  sendAnonymousUsage = false
[api]
  dashboard = true
  insecure = false

{% if disable_tls is not defined %}
[certificatesResolvers]
  [certificatesResolvers.letsencrypt]
    [certificatesResolvers.letsencrypt.acme]
      email = "{{ admin_email }}"
      storage = "/letsencrypt/acme.json"
      caserver = "{{ traefik_acme_server }}"

      [certificatesResolvers.letsencrypt.acme.dnsChallenge]
        provider = "{{ traefik_dns_provider }}"
        resolvers = ["1.1.1.1:53", "8.8.8.8:53"]
{% endif %}
