[entryPoints]
  [entryPoints.web]
    address = ":80"
{% if enable_tls == true %}
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"
      permanent = true
    [entryPoints.websecure]
      address = ":443"
      [entryPoints.websecure.http3]

      # Extended timeouts for OpenCloud/Nextcloud large file operations
      [entryPoints.websecure.transport.respondingTimeouts]
        readTimeout = "12h"
        writeTimeout = "12h"
        idleTimeout = "3m"

      [entryPoints.websecure.http]
        middlewares = [ "crowdsec@file" ]
        [entryPoints.websecure.http.tls]
          certResolver = "letsencrypt"
          options = "default"
{% endif %}
[providers]
  [providers.docker]
    exposedbydefault = false
  [providers.file]
    directory = "/etc/traefik/dynamic_configs"
    watch = true
[log]
  level = "{{ traefik_log_level }}"
[accessLog]
  filePath = "/var/log/traefik/access.log"
  bufferingSize = 10
[global]
  sendAnonymousUsage = false
[api]
  dashboard = true
  insecure = false
  debug = true

{% if enable_tls == true %}
[certificatesResolvers]
  [certificatesResolvers.letsencrypt]
    [certificatesResolvers.letsencrypt.acme]
      email = "{{ admin_email }}"
      storage = "/letsencrypt/acme.json"
      caserver = "{{ traefik_acme_server }}"
      [certificatesResolvers.letsencrypt.acme.dnsChallenge]
        provider = "{{ traefik_dns_provider }}"
        resolvers = ["1.1.1.1:53", "8.8.8.8:53"]

{# Not sure if I need it #}
[serversTransport]
  insecureSkipVerify = true
{% endif %}

[experimental.plugins.crowdsec-bouncer-traefik-plugin]
  moduleName = "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
  version = "v1.4.6"
