---
- name: Remove Traefik logs and probably other directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
    # - "{{ traefik_dynamic_configs_directory }}"
    # - "{{ traefik_data_directory }}/letsencrypt"
    - "{{ traefik_logs_directory }}"

- name: Create Traefik Directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ traefik_dynamic_configs_directory }}"
    - "{{ traefik_data_directory }}/letsencrypt"
    - "{{ traefik_logs_directory }}"

- name: Create Traefik config.toml from template
  ansible.builtin.template:
    src: traefik.toml.j2
    dest: "{{ traefik_data_directory }}/traefik.toml"
  register: template_config

- name: Create Traefik dynamic configuration files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ traefik_dynamic_configs_directory }}/{{ item.path | regex_replace('\\.j2$', '') }}"
    force: yes
  loop: "{{ query('filetree', '../templates/dynamic_configs') }}"
  when: item.state == 'file'

- name: Create web network
  community.docker.docker_network:
    name: web
    state: present

- name: Create nextcloud-aio network
  community.docker.docker_network:
    name: nextcloud-aio
    state: present

- name: Traefik Docker Container
  community.docker.docker_container:
    name: traefik
    image: "{{ traefik_docker_image }}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ traefik_data_directory }}/traefik.toml:/etc/traefik/traefik.toml:ro"
      - "{{ traefik_dynamic_configs_directory }}:/etc/traefik/dynamic_configs:ro"
      - "{{ traefik_data_directory }}/letsencrypt:/letsencrypt:rw"
      - "{{ traefik_logs_directory }}:/var/log/traefik:rw"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    env: "{{ traefik_environment_variables }}"
    restart_policy: unless-stopped
    memory: "{{ traefik_memory }}"
    recreate: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.rule: "Host(`{{ traefik_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.traefik.loadbalancer.server.port: "8080"
      traefik.http.routers.traefik.service: "api@internal"
      traefik.http.routers.traefik.middlewares: "crowdsec@file,tinyauth@docker,secure-headers@file"

      # Homepage
      homepage.group: "Infrastructure"
      homepage.name: "Traefik"
      homepage.icon: "traefik.svg"
      homepage.href: "https://{{ traefik_subdomain }}.{{ server_hostname }}/dashboard/"
    networks:
      - name: "web"
      - name: "nextcloud-aio"

- name: Ensure logrotate is installed
  ansible.builtin.apt:
    name: logrotate
    state: present

- name: Configure Traefik log rotation
  ansible.builtin.copy:
    dest: /etc/logrotate.d/traefik
    content: |
      {{ traefik_logs_directory }}/*.log
      {
        daily
        rotate 7
        missingok
        notifempty
        compress
        delaycompress
        postrotate
          docker kill --signal="USR1" traefik
        endscript
      }
    mode: "0644"

- name: Check if CrowdSec container exists
  community.docker.docker_container_info:
    name: crowdsec
  register: crowdsec_info

- name: Restart CrowdSec to ensure logs are mounted correctly
  community.docker.docker_container:
    name: crowdsec
    restart: yes
    state: started
  when:
    - crowdsec_info.exists
