---
- name: Remove Traefik Config Directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ traefik_data_directory }}/dynamic_configs"
    # - "{{ traefik_data_directory }}/letsencrypt"

- name: Create Traefik Directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ traefik_data_directory }}/dynamic_configs"
    - "{{ traefik_data_directory }}/letsencrypt"

- name: Create Traefik config.toml from template
  ansible.builtin.template:
    src: traefik.toml.j2
    dest: "{{ traefik_data_directory }}/traefik.toml"
  register: template_config

- name: Create Traefik dynamic configuration files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ traefik_data_directory }}/dynamic_configs/{{ item.path | regex_replace('\\.j2$', '') }}"
    force: yes
  loop: "{{ query('filetree', '../templates/dynamic_configs') }}"
  when: item.state == 'file'

- name: Create web network
  community.docker.docker_network:
    name: web
    state: present

- name: Create nextcloud-aio network
  community.docker.docker_network:
    name: nextcloud-aio
    state: present

- name: Traefik Docker Container
  community.docker.docker_container:
    name: traefik
    image: "{{ traefik_docker_image }}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ traefik_data_directory }}/traefik.toml:/etc/traefik/traefik.toml:ro"
      - "{{ traefik_data_directory }}/dynamic_configs:/etc/traefik/dynamic_configs:ro"
      - "{{ traefik_data_directory }}/letsencrypt:/letsencrypt:rw"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    env: "{{ traefik_environment_variables }}"
    restart_policy: unless-stopped
    memory: "{{ traefik_memory }}"
    recreate: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.rule: "Host(`{{ traefik_subdomain }}.{{ server_hostname }}`)"
      traefik.http.services.traefik.loadbalancer.server.port: "8080"
      traefik.http.routers.traefik.service: "api@internal"
      traefik.http.routers.traefik.middlewares: "tinyauth@docker,secure-headers@file"
    networks:
      - name: "web"
      - name: "nextcloud-aio"
