---
- name: Remove tinyauth directory
  ansible.builtin.file:
    path: "{{ tinyauth_data_directory }}"
    state: absent

- name: Create tinyauth directory
  ansible.builtin.file:
    path: "{{ tinyauth_data_directory }}"
    state: directory
    mode: "0755"

- name: Tinyauth Docker Container
  community.docker.docker_container:
    name: tinyauth
    image: "{{ tinyauth_docker_image }}"
    pull: true
    recreate: true
    volumes:
      - "{{ tinyauth_data_directory }}:/data"
    env:
      APP_URL: "https://{{ tinyauth_subdomain }}.{{ server_hostname }}"
      DISABLE_ANALYTICS: "true"
      LDAP_ADDRESS: ldap://lldap:3890
      LDAP_BIND_DN: "uid=observer,ou=people,{{ lldap_base_dn }}"
      LDAP_BIND_PASSWORD: "{{ lldap_observer_user_password }}"
      LDAP_BASE_DN: "{{ lldap_base_dn }}"
      LDAP_SEARCH_FILTER: (uid=%s)
      LDAP_INSECURE: "true"
    restart_policy: unless-stopped
    memory: "{{ tinyauth_memory }}"
    networks:
      - name: "web"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      # Router for the Login UI
      traefik.http.routers.tinyauth.rule: "Host(`{{ tinyauth_subdomain }}.{{ server_hostname }}`)"
      traefik.http.routers.tinyauth.service: "tinyauth"
      traefik.http.services.tinyauth.loadbalancer.server.port: "3000"
      traefik.http.routers.tinyauth.middlewares: "secure-headers@file"
      # Middleware definition (Forward Auth)
      traefik.http.middlewares.tinyauth.forwardauth.address: "http://tinyauth:3000/api/auth/traefik"
      traefik.http.middlewares.tinyauth.forwardauth.trustForwardHeader: "true"

      homepage.group: "Infrastructure"
      homepage.name: "TinyAuth"
      homepage.icon: "tinyauth.svg"
      homepage.href: "https://{{ tinyauth_subdomain }}.{{ server_hostname }}"
