[http.serversTransports.opencloud-transport]
  [http.serversTransports.opencloud-transport.forwardingTimeouts]
    responseHeaderTimeout = "3600s"
    idleConnTimeout = "3600s"
    dialTimeout = "30s"
